* {
    font-family: fantasy;
}

#navbar {
    background: linear-gradient(to left, #4a9bad, #ad4a9b);
}
#navbar-head a {
    font-size: 1.75rem;
}

#navbar-nav-links {
    font-size: 1.2rem;
}

#home-content,
#author-create-content,
#author-detail-content,
#author-update-content,
#author-list-main,
#book-create-content,
#book-detail-content,
#book-list-content {
    border-left: 3px solid #4a9bad;
    border-right: 3px solid #ad4a9b;
    border-bottom: 3px solid #ad4a9b;
}

#home-header,
#create-author-header,
#author-detail-header,
#author-list-main h1,
#book-create-header h1,
#book-detail-content h1,
#book-list-header {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 5px;
    background: linear-gradient(to right, #4a9bad, #ad4a9b);
}

#home-content main h1 {
    font-size: 1.5rem;
}

#author-name-input label,
#author-update-input label {
    font-weight: bold;
    margin-bottom: 0px;
}

#author-name-input input,
#author-update-input input {
    border: none;
    border-bottom: 3px solid #4a9bad;
}

#author-detail-links {
    text-decoration: underline;
}

#author-list-name {
    width: 150px;
    background: linear-gradient(to right, #4a9bad, #ad4a9b);
}

#author-submit-button,
#author-update-submit-button,
#book-create-submit {
    color: white;
    font-weight: bold;
    background-color: #4a9bad;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px grey;
}

/* div#book-create-content label {
    width: 100px;
} */

#book-create-submit {
    width: 300px;
}

#book-title-input,
#book-price-input {
    border: none;
    border-bottom: 3px solid #4a9bad;
}
